                        {% set breadcrumbPages = collections.all | eleventyNavigationBreadcrumb(title) %}
                        <nav class="breadcrumbs" aria-label="breadcrumb"><a href="/" rel="home">Home</a> {% for item in breadcrumbPages -%}
                        <span class="sep">/</span> <a href="{{ item.url }}">{{ item.title }}</a>
                        {%- endfor %} <span class="sep">/</span> <a href="{{ page.url }}" aria-current="page">{{ title }}</a></p>
