        <link href="https://unpkg.com/modern-css-reset/dist/reset.min.css" rel="stylesheet" />
        <link href="https://unpkg.com/@accessibility-in-action/looseleaf@1.0.0-alpha.4/style.min.css" rel="stylesheet" />
        <link href="/assets{{ assets['/styles/app.css'] }}" rel="stylesheet" />
        {# {% uioStyles %} #}
