<!doctype html>
<html lang="en-ca" dir="ltr">
    <head>
        <title>{% if title %} {{ title }} | {{ site.title }} {% else %} {{ site.title }} {% endif %}</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="manifest" href="/manifest.webmanifest">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
        {% include "partials/global/icons.njk" %}
        {% include "partials/global/scripts.njk" %}
        {% block headerScripts %}
        {% endblock %}
        {% include "partials/global/stylesheets.njk" %}
    </head>
    <body class="{{ bodyClass if bodyClass else "page" }}">
        <a id="skip-to-content" href="#main">Skip to content</a>
        {% uioTemplate %}
        {% include "partials/global/header.njk" %}
        <main id="main" tabindex="-1">
            <div class="wrapper flow">
                <article class="flow{% if articleClass %} {{ articleClass }}{% endif %}">
                    {% block pageHeader %}
                    <header class="flow">
                        {% if breadcrumbs -%}
                        {% include "partials/components/breadcrumbs.njk" %}
                        {%- endif %}
                        <h1>{{ fullTitle if fullTitle else title }}</h1>
                        {% if publish %}
                        {% set downloadUrl = page.url + ".docx" %}
                        {% set downloadUrl = downloadUrl.replace("/.docx", ".docx")%}
                        <p><a href="{{ downloadUrl }}">Download Word Document</a></p>
                        {% endif %}
                        {% if phase %}
                        <p class="phase">Phase: <span class="badge">{{ phase }}</span></p>
                        {% endif %}
                        {% if subtitle %}
                        <p class="subtitle">{{ subtitle }}</p>
                        {% endif %}
                    </header>
                    {% endblock %}
                    <nav class="flc-toc-tocContainer"></nav>
                    {% block content %}
                    <div class="content flow">
                    {{ content | safe }}
                    </div>
                    {% endblock %}
                </article>
            </div>
        </main>
        {% include "partials/global/footer.njk" %}
        {% uioInit %}
    </body>
</html>
