{% extends "layouts/base.njk" %}

{% set bodyClass = "page page--blueprint-step" %}

{% block content %}
<div class="content flow">
    {% for section in sections %}
    <section class="flow" x-data="{ open : false }" aria-labelledby="{{ section.title | slug }}">
        <button class="accordion" @click="open = ! open" :aria-expanded="open.toString()">
            <h2 id="{{ section.title | slug }}">
                {{ section.title }}
                <svg width="15" height="9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1l6.5 6.5L14 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </h2>
        </button>
        {% if section.subtitle %}
        <p class="subtitle">{{ section.subtitle }}</p>
        {% endif %}
        <div class="content flow" x-show="open">
            {{ section.content | markdown | safe }}
        </div>
    </section>
    {% endfor %}
</div>
<nav class="pagination flow" aria-label="pagination">
    {% if 'blueprint-consultants' in tags %}
    {% set correspondingStep = false %}
    {% for item in collections["blueprint-entities"] %}
        {% if item.data.step === step %}
        {% set correspondingStep = item %}
        {% endif %}
    {% endfor %}
    <p><a href="{{ correspondingStep.url }}">What's happening for entities</a></p>
    {% elif 'blueprint-entities' in tags %}
    {% set correspondingStep = false %}
    {% for item in collections["blueprint-consultants"] %}
        {% if item.data.step === step %}
        {% set correspondingStep = item %}
        {% endif %}
    {% endfor %}
    <p><a href="{{ correspondingStep.url }}">What's happening for consultants</a></p>
    {% endif %}
    
    {% set previousStep = collections[tags[0]] | getPreviousCollectionItem(page) %}
    {% set nextStep = collections[tags[0]] | getNextCollectionItem(page) %}

    {% set who = 'consultants and entities' %}

    {% if 'blueprint-consultants' in tags %}
        {% set who = 'consultants' %}
    {% elif 'blueprint-entities' in tags %}
        {% set who = 'entities' %}
    {% endif %}

    <ul role="list">
    {%- if previousStep %}
        <li><a href="{{ previousStep.url }}"><span aria-hidden="true">&larr;</span> Previous step for {{ who }}</a></li>
    {%- elif 'blueprint-both' in tags %}
        <li><a href="{{ collections['blueprint-consultants'][collections['blueprint-consultants'].length - 1].url }}"><span aria-hidden="true">&larr;</span> Previous step for consultants</a></li>
        <li><a href="{{ collections['blueprint-entities'][collections['blueprint-consultants'].length - 1].url }}"><span aria-hidden="true">&larr;</span> Previous step for entities</a></li>
    {%- endif %}
    {%- if nextStep %}
        <li><a href="{{ nextStep.url }}">Next step for {{ who }} <span aria-hidden="true">&rarr;</span></a></li>
    {%- elif 'blueprint-consultants' in tags or 'blueprint-entities' in tags %}
        <li><a href="{{ collections['blueprint-both'][0].url }}">Next step for consultants and regulated entities <span aria-hidden="true">&rarr;</span></a></li>
    {%- endif %}
    </ul>
</nav>
{% endblock %}
