{% extends "layouts/base.njk" %}

{% set bodyClass = "page home" %}

{% block headerScripts %}
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
{% endblock %}
