{% extends "layouts/base.njk" %}

{% set bodyClass = "post" %}

{% block pageHeader %}
<header class="flow">
    <h1>{{ title }}</h1>
</header>
{% endblock %}

{% block content %}
<div class="content flow">
    {{ content | safe }}
</div>
{% endblock %}
