{% extends "layouts/base.njk" %}

{% set bodyClass = "sessions" %}
{% set sessions = collections.sessions %}

{% block content %}
{{ content | safe }}
{% if sessions.length %}
    <div id="sessions" class="flow">
    {% for item in sessions %}
        <article class="entry h-event">
            <h2 class="p-name"><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
            <p class="metadata"><time class="dt-start" datetime="{{ item.data.start | isoDate }}"><span class="date">{{ item.data.start | formatDate }}</span> from <span class="time">{{ item.data.start | formatTime }}</span></time> to <time class="dt-end" datetime="{{ item.data.end | isoDate }}">{{ item.data.end | formatTime }}</time></p>
            {% if item.data.description %}
            <p class="p-summary">{{ item.data.description | safe }}</p>
            {% endif %}
        </article>
    {% endfor %}
    </div>
    {% if pagination.pages.length > 1 %}
    {% include "partials/components/pagination.njk" %}
    {% endif %}
{% endif %}
{% endblock %}

{% block headerScripts %}
        <script type="text/javascript" src="/assets{{ assets['/scripts/sessions.js'] }}" defer></script>
{% endblock %}
