{% extends "layouts/base.njk" %}

{% set bodyClass = "page page--step" %}

{% block content %}
<div class="content flow">
    {% set previousStep = collections.steps | getPreviousCollectionItem(page) %}
    {% set nextStep = collections.steps | getNextCollectionItem(page) %}
    {% if previousStep %}<p>Previous step: <a href="{{ previousStep.url }}">{{ previousStep.data.title }}</a></p>{% endif %}
    {{ content | safe }}
    {% if nextStep %}<p>Next step: <a href="{{ nextStep.url }}">{{ nextStep.data.title }}</a></p>{% endif %}
</div>
{% endblock %}
