{% extends "layouts/base.njk" %}

{% set bodyClass = "updates" %}

{% block content %}
{% if updates.length %}
    <div class="flow">
    {% for item in updates %}
        <article class="h-entry">
            <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
            <p class="metadata">Published by {% if not item.data.author %}the {% endif %}<span class="p-author h-card">{{ item.data.author if item.data.author else "Inclusive Design Research Centre" }}</span> on <time datetime="{{ item.data.date | isoDate }}" class="dt-published">{{ item.data.date | formatDate }}</time></p>
            {% if item.data.description %}
            <p class="p-summary">{{ item.data.description | safe }}</p>
            {% endif %}
        </article>
    {% endfor %}
    </div>
    {% if pagination.pages.length > 1 %}
    {% include "partials/components/pagination.njk" %}
    {% endif %}
{% endif %}
{% endblock %}
