@import "modern-css-reset";
@import "@accessibility-in-action/looseleaf";

@font-face {
    font-display: swap;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/atkinson-hyperlegible-bold.woff2') format('woff2'),
        url('../fonts/atkinson-hyperlegible-bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 700;
    src:
        url('../fonts/atkinson-hyperlegible-bolditalic.woff2') format('woff2'),
        url('../fonts/atkinson-hyperlegible-bolditalic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: normal;
    src:
        url('../fonts/atkinson-hyperlegible-italic.woff2') format('woff2'),
        url('../fonts/atkinson-hyperlegible-italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: normal;
    src:
        url('../fonts/atkinson-hyperlegible-regular.woff2') format('woff2'),
        url('../fonts/atkinson-hyperlegible-regular.woff') format('woff');
}

:root {
    --ll-font-family: 'Atkinson Hyperlegible', -apple-system, 'BlinkMacSystemFont', avenir next, avenir, helvetica neue, helvetica, 'Ubuntu', roboto, noto, segoe ui, arial, sans-serif;
    --ll-border-radius: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

#skip-to-content {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#skip-to-content:focus {
    clip: auto;
    clip-path: none;
    color: var(--ll-text-color);
    height: auto;
    left: var(--step--1);
    overflow: auto;
    top: var(--step--1);
    width: auto;
}

.brand {
    font-size: var(--step-2);
    font-weight: 700;
    margin-top: var(--step-3);
}

.brand [aria-current="page"] {
    text-decoration-style: solid;
}

.fl-prefsEditor-separatedPanel,
[role="banner"] {
    --ll-background-color: #eee;

    background-color: var(--ll-background-color);
}

.fl-prefsEditor-separatedPanel {
    padding-bottom: 4px;
}

main {
    padding: var(--step-2) 0;
}

main:focus {
    box-shadow: 0 0 0 0.25rem var(--ll-theme-accent-color, var(--ll-accent-color)) inset;
    outline: none;
}

[role="contentinfo"] {
    --ll-background-color: #eee;

    background-color: var(--ll-background-color);
    margin-top: auto;
    padding: var(--step-2) 0;
}

.hidden {
    display: none;
}

footer .wrapper * {
    font-size: var(--step--1);
}

nav {
    margin-top: 1em;
}

.nav ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
}

.nav ul > li {
    padding-left: 0;
}

.nav ul > li::before {
    display: none;
}

.nav li + li {
    margin-top: var(--step--1);
}

.nav a {
    align-items: center;
    display: flex;
    height: var(--step-4);
    margin-left: calc(-1 * var(--step-0));
    padding: 0 var(--step-0);
    width: calc(100% + 2 * var(--step-0));
}

.badge {
    background-color: var(--ll-text-color);
    border-radius: calc(4 / 16 * 1rem);
    color: var(--ll-background-color);
    font-size: var(--step--1);
    padding: calc(4 / 16 * 1rem);
    text-transform: uppercase;
}

.subtitle {
    font-style: italic;
}

.pagination {
    margin-top: var(--step-4);
}

.p-author,
.dt-published,
.time,
.date,
.dt-end {
    font-weight: 700;
}

.update .metadata::after {
    border-bottom: var(--ll-border-thick);
    content: "";
    display: block;
    margin: var(--step-0) 0 var(--step-4);
    width: var(--step-5);
}

@supports (mask-image: url("icon.svg")) {
    a[rel*="external"]::after {
        background-color: currentColor;
        content: "";
        display: inline-block;
        height: 1.5rem;
        margin-left: 0.125rem;
        mask-image: url("/assets/images/external.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        vertical-align: text-bottom;
        width: 1.5rem;
    }
}

ul[role="list"],
ol[role="list"] {
    > li {
        padding-inline-start: 0;
    }

    > li::before {
        display: none;
    }
}

ul,
ol {
    > li::before {
        opacity: 1;
    }
}

ol.process {
    li,
    ol {
        margin-top: 1rem;
    }

    > li {
        font-size: var(--step-1);
        font-weight: 600;
        padding-inline-start: 0;
    }

    > li::before {
        content: "Phase " counter(list-item, upper-alpha) ":\A0";
        display: inline-block;
        position: relative;
    }

    > li + li {
        margin-top: 3rem;
    }

    ol {
        font-size: var(--step-0);

        > li {
            padding-inline-start: var(--step-2);
        }

        ol {
            > li {
                padding-inline-start: var(--step-4);
            }
        }
    }

    .step {
        font-weight: 600;
    }

    .subtitle {
        font-size: var(--step--1);
        font-style: italic;
        font-weight: normal;
    }
}

summary,
.summary {
    font-size: var(--step-1);
    font-weight: bold;
}

@media (min-width: 768px) {
    .brand br {
        display: none;
    }

    .nav ul {
        flex-direction: row;
        margin-bottom: 1.5rem;
    }

    .nav li + li {
        margin-left: var(--step--1);
        margin-top: 0;
    }

    .nav a {
        display: inline;
        height: auto;
        margin-left: 0;
        padding: 0;
        width: auto;
    }
}

section {
    margin-top: var(--step-2);
}

button.accordion {
    background: var(--ll-background-color);
    border: 0;
    border-top: var(--ll-border-thick);
    color: var(--ll-text-color);
    display: block;
    line-height: 1;
    padding-inline: 0;
    text-align: start;
    width: 100%;

    h2 {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    svg {
        transition: transform 0.25s ease-in-out;
    }

    &[aria-expanded="true"] {
        svg {
            transform: rotate(180deg);
        }
    }
}

.subhead {
    font-style: italic;
    margin-block-start: 0;
}

[role="list"] {
    padding-inline-start: 0;
}

[class*=fl-theme]:not(.fl-theme-prefsEditor-default) {
    --ll-theme-border-color: var(--fl-fgColor);
    --ll-theme-text-color: var(--fl-fgColor);
    --ll-theme-accent-color: var(--fl-linkColor, var(--fl-fgColor));
    --ll-theme-background-color: var(--fl-bgColor);
    --ll-link-focus-box-shadow: 0 0 0 0.125rem var(--ll-theme-background-color), 0 0 0 0.25rem var(--ll-theme-accent-color);
    --ll-input-focus-box-shadow: 0 0 0 0.125rem var(--ll-theme-background-color), 0 0 0 0.25rem var(--ll-theme-accent-color);
}

.fl-theme-bw,
.fl-theme-by,
.fl-theme-bbr {
    --ll-theme-select-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" viewBox="0 0 16 16"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
}

.fl-theme-yb {
    --ll-theme-select-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="yellow" viewBox="0 0 16 16"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
}

.fl-theme-gw,
.fl-theme-gd {
    --ll-theme-select-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="silver" viewBox="0 0 16 16"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
}
