@import "~modern-css-reset";
@import "~@accessibility-in-action/looseleaf";

@font-face {
    font-display: optional;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/atkinson-hyperlegible-bold.woff2') format('woff2'),
        url('../fonts/atkinson-hyperlegible-bold.woff') format('woff');
}

@font-face {
    font-display: optional;
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 700;
    src:
        url('../fonts/atkinson-hyperlegible-bolditalic.woff2') format('woff2'),
        url('../fonts/atkinson-hyperlegible-bolditalic.woff') format('woff');
}

@font-face {
    font-display: optional;
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: normal;
    src:
        url('../fonts/atkinson-hyperlegible-italic.woff2') format('woff2'),
        url('../fonts/atkinson-hyperlegible-italic.woff') format('woff');
}

@font-face {
    font-display: optional;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: normal;
    src:
        url('../fonts/atkinson-hyperlegible-regular.woff2') format('woff2'),
        url('../fonts/atkinson-hyperlegible-regular.woff') format('woff');
}

:root {
    --ll-font-family: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    --ll-border-radius: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

#skip-to-content {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#skip-to-content:focus {
    clip: auto;
    clip-path: none;
    color: white;
    height: auto;
    left: var(--step--1);
    overflow: auto;
    top: var(--step--1);
    width: auto;
}

.brand {
    margin-top: var(--step-3);
}

.brand [aria-current="page"] {
    text-decoration-style: solid;
}

[role="banner"] {
    --ll-background-color: #eee;

    background-color: var(--ll-background-color);
}

main {
    padding: var(--step-2) 0;
}

[role="contentinfo"] {
    --ll-background-color: #eee;

    background-color: var(--ll-background-color);
    margin-top: auto;
    padding: var(--step-2) 0;
}

@media (prefers-color-scheme: dark) {
    [role="banner"],
    [role="contentinfo"] {
        --ll-background-color: #111;
    }
}

.hidden {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
}

nav li + li {
    margin-top: var(--step--1);
}

nav a {
    align-items: center;
    display: flex;
    height: var(--step-4);
    margin-left: calc(-1 * var(--step-0));
    padding: 0 var(--step-0);
    width: calc(100% + 2 * var(--step-0));
}

nav.pagination {
    margin-top: var(--step-4);
}

nav.pagination ul {
    flex-direction: row;
}

nav.pagination ul li + li {
    margin-left: var(--step--1);
}

.p-author,
.dt-published,
.time,
.date,
.dt-end {
    font-weight: 700;
}

.update .metadata::after {
    border-bottom: var(--ll-border-thick);
    content: "";
    display: block;
    margin: var(--step-0) 0 var(--step-4);
    width: var(--step-5);
}

@supports (mask-image: url("icon.svg")) {
    a[rel*="external"]::after {
        background-color: currentColor;
        content: "";
        display: inline-block;
        height: 1.5rem;
        margin-left: 0.125rem;
        mask-image: url("/assets/images/external.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        vertical-align: text-bottom;
        width: 1.5rem;
    }
}

@media (min-width: 768px) {
    .brand br {
        display: none;
    }

    nav ul {
        flex-direction: row;
        margin-bottom: 1.5rem;
    }

    nav li + li {
        margin-left: var(--step--1);
        margin-top: 0;
    }

    nav a {
        display: inline;
        height: auto;
        margin-left: 0;
        padding: 0;
        width: auto;
    }
}
